# gluetun.env
VPN_SERVICE_PROVIDER=custom
VPN_TYPE=wireguard
WIREGUARD_ADDRESSES=<your wireguard network>
WIREGUARD_PRIVATE_KEY=<your client private key>
WIREGUARD_PUBLIC_KEY=<your server public key>
WIREGUARD_ENDPOINT_IP=<server public IP>
WIREGUARD_ENDPOINT_PORT=<server port>
WIREGUARD_ALLOWED_IPS=0.0.0.0/0